header {
    display: flex;
    width: 100%;
    background-color: #6D9DC5;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    color:#F9DEC9;
}

header .exchange-rates .rates-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25em;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-size: 1.4em;
}

header img {
    width: 50px;
}

header .exchange-rates {
    display: flex;
    flex-flow: column nowrap;
    width: 32%;
    justify-items: space-evenly;
    align-content: center;
    gap: 0.25em;
}