<link rel="stylesheet" href="converter-body.component.css">
<main>
    <h2>Enter Amount You Would Like to Convert</h2>
    <form [formGroup]='convertGroup'>
        <div class="left-inputs">
            <select class="select-left" formControlName='leftSelect' (change)="handleChange('left')">
                <option>UAH</option>
                <option>USD</option>
                <option>EUR</option>
            </select>
            <input type="number" class="input-left" formControlName='leftInput' (input)="handleChange('left')">
        </div>
        <div class="right-inputs">
            <select class="select-left" formControlName='rightSelect' (change)="handleChange('right')">
                <option>UAH</option>
                <option>USD</option>
                <option>EUR</option>
            </select>
            <input type="number" class="input-right" formControlName='rightInput' (input)="handleChange('right')">
        </div>
    </form>
</main>