<link rel="stylesheet" href="converter-body.component.css">
<main>
    <h2>Enter Amount You Would Like to Convert</h2>
    <form action="">
        <div>
            <select name="" id="">
                <option value="">UAH - Ukrainian Hryvnia</option>
                <option value="">USD - Unated States Dollar</option>
                <option value="">EUR - European Union Euro</option>
            </select>
            <input type="text" value="1">
        </div>
        <div>
            <select name="" id="">
                <option value="">USD - Unated States Dollar</option>
                <option value="">UAH - Ukrainian Hryvnia</option>
                <option value="">EUR - European Union Euro</option>
            </select>
            <input type="text" value="37.25">
        </div>
    </form>
</main>